.DonationListContainer {
    display: flex;
    justify-content: space-between;
    direction: rtl;
    width: 700px;
    border: solid 1px black;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 15px;


}



.DonationDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.DonationDetails p {
    margin: 4px;
    padding: 0;
}

.DonationDetails p:first-child {
    font-weight: 500;
}

.ActionButtons {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {


    display: flex;
    align-items: center;
    flex-direction: column;


}

