 .DonationListContainer {
    display: flex;
    justify-content: space-between;
    direction: rtl;
    width: 700px;
    /* border: solid 1px black; */
    /* border-radius: 10px; */
    border-radius: inherit;
    padding-top: 5px;
    padding-bottom: 15px;
   


}



.DonationDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    


}

.DonationDetails p {
    margin: 4px;
    padding: 0;
}
.DonationDetails p:first-child {
   color: black;

}

.DonationDetails p:first-child {
    font-weight: 500;
} 

.ActionButtons {

    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.container {


    display: flex;
    align-items: center;
    flex-direction: column;


}

.buttonWrapper{

    display: flex;
    justify-content: flex-start;

    gap: 20px;
    margin-left: 0; 

}

.editModeBackground{
    background-color: lightcyan;
    border-bottom: lightcyan;
}

.defaultBackground{
    background-color: white;

}
