form {

    border: #dfdfdf solid 1px;
    border-radius: 11px;
    box-shadow: none;
    margin: 0 auto;
    box-shadow: 0 0 4px 1px lightgrey;
    direction: rtl;
    color: lightslategray;
    font-family: Segoe UI Semibold;
    width: 700px;
    display: flex;
    flex-direction: column;


}

.editModeForm {

    border: #dfdfdf solid 1px;
    border-radius: initial;

    box-shadow: none;

    margin: 0 auto;
    direction: rtl;
    color: lightslategray;
    font-family: Segoe UI Semibold;
    width: 700px;
    display: flex;
    flex-direction: column;

}

h2 {
    color: black;
}

.headerOnputs {
    display: flex;
    justify-content: space-between;
}

.headerOnputsEditMode {
    display: flex;
    flex-direction: column;

}

.lastInputs {
    display: flex;
    justify-content: flex-start;
    gap: -10px;
}

.buttonWrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
}