
.container{
    width: fit-content;
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    border: solid 2px blue;
    margin: 0 auto; 
    border-radius: 10px;
    


}